
@media (min-width: 768px) {

.table-data-container {
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
}

th {
    position: sticky;
    top: 0px;
    z-index: 2;
    background: #ffff;
  }

}

table {
  table-layout: fixed;
}

.table th {
    border-top: 0px solid
}

.table th, .table td{
  padding: 0px 2px
}

